body{
    background-color: #bd0928;
}
.image{
    margin-left: 10px;
    margin-right: 10px;
margin-top: 60px;
word-spacing: 15px;
}
.main{

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250px;
    margin-top:150px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: -70px;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn-danger {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    line-height: 20px;
    
    border: 2px solid white;
    border-radius: 90px;
  }
  
  .btn-danger:hover {
    color: #bd0928;
    background: white;
    border: 2px solid white;
