.first {
    background-color: white;
    width:  350px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    margin-top: 20px;
}

.second{
    background-color: rgb(64, 224, 72);
    width: 350px;
    height: 100px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 40px;
}

.sign{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 37px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
    30%{
        letter-spacing: 20px;
    }
  }

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.bounce {
	animation-name: bounce;
}
  

.username{
    background-color:white;
    width: 265px;
    height: 40px;
    margin-left: 27px;
    margin-top: 22px;
    border:0;	
	transition-duration:0.7s;
}

.password{    
    background-color:#ebebeb;
    width: 265px;
    height: 40px;
    margin-left: 27px;
    margin-top:22px;
	transition-duration:0.7s;
}

.input100.validate-input {
    padding-left: 0;
}

.last{
    padding-top: 70px;
}

.signupnow{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
    border-radius: 100px;
    height: 30px;
    padding-left: 12px;
    padding-top: 3px;
}

.name{ 
    background-color:#ebebeb;
    width: 265px;
    height: 40px;
    margin-left: 27px;
    margin-top: 22px;
	transition-duration:0.7s;
}

.signin{
    width: 265px;
    height: 40px;
    margin-top: 20px;
    margin-left: 12px;
    border-radius: 40px     ;
}

.username:hover{
	box-shadow:0 0 5px 2px rgba(0,0,0,0.3);
}

.password:hover{
	box-shadow:0 0 5px 2px rgba(0,0,0,0.3);
}
.name:hover{
    box-shadow:0 0 5px 2px rgba(0,0,0,0.3);
}

.input100 {
    font-family: arial;
    font-size: 15px;
    border:0;
    outline:0;
    width: 100%;
    height: 40px;
    background: #ebebeb;
    border-radius: 25px;  
    padding-left: 15px;  

}